/* --- Importing custom fonts --- */
/* [ Lora ] : 400 */
/* [ Abril FatFace ] : 400,700 */
/* [ Outfit ] : 200,400,700 */
/* [ Quicksand ] : 300,400 */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:wght@400;700&family=Outfit:wght@200;400;700&family=Quicksand:wght@300;400&display=swap");

/* Custom Colors Setup */
:root {
   --jet-black: #212121;
   --onyx-gray: #3f4045;
   --gray-2: #5d737e;
   --floral-white: #fef9ef;
   --ash-gray: #bbcbcb;
}

/* Global reset and body styling */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   user-select: none;
}

html,
body {
   width: 100%;
   height: 100%;
   background-color: var(--jet-black);
   color: var(--floral-white);
   font-family: "Lora";
   display: flex;
   flex-direction: column;
}

/* Footer */
.footer {
   width: max-content;
   justify-self: center;
   align-self: center;
   display: flex;
   border: 2px dashed var(--floral-white);
   border-bottom: none;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
   padding: 16px 16px;
   border-radius: 10px;
   font-size: 16px;
   gap: 5px;
}
/* Footer author link */
.footer a:link {
   transition: all 500ms;
   text-decoration: none;
   color: var(--jet-black);
}
.footer a:visited {
   color: var(--gray-2);
}
.footer a:hover,
.footer a:active {
   color: var(--floral-white);
   transition: all 300ms;
}
