/* Page stylign */
.wrapper {
   flex: 1;
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: center;
   gap: 48px;
}

.title {
   font-family: "Abril FatFace";
   font-weight: 400;
   font-size: 54px;
   letter-spacing: 2px;
}
.wooden-board {
   border: 2px dashed var(--floral-white);
   border-radius: 50%;
   width: 700px;
   height: 685px;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
}
.item {
   display: inline-block;
   flex-basis: 340px;
   height: 340px;
   filter: brightness(30%);
   transition: all 500ms;
}

.pizza-item-1 {
   border-top-left-radius: 111%;
   background: url(img/napolitan-top-down2.png);
   background-position: -420px -5px;
   background-size: 350%;
}
.pizza-item-2 {
   padding: 48px;
   background: url(img/quattro-formaggi-top-down.png);
   background-position: -615px -89px;
   background-size: 337%;
   border-top-right-radius: 111%;
}
.pizza-item-3 {
   background: url(img/peperoni-pizza-top-down.png);
   background-position: -5px -417px;
   background-size: 250%;
   border-bottom-left-radius: 111%;
}
.pizza-item-4 {
   padding: 48px;
   background: url(img/quattro-stagioni-top-down.png);
   background-position: -361px -370px;
   background-size: 222%;
   border-bottom-right-radius: 111%;
}

.pizza-title {
   color: var(--floral-white);
   font-family: "Outfit";
   font-size: 48px;
   position: absolute;
   padding: 4px 8px;
   border: 2px dashed var(--floral-white);
   border-radius: 15px;
   visibility: hidden;
}

/* Napolitan */
.title-1 {
   top: 150px;
   left: 345px;
}

/* Quattro Formaggi */
.title-2 {
   top: 130px;
   right: 360px;
}

/* Peperoni */
.title-3 {
   bottom: 175px;
   left: 345px;
}

/* Quattro Stagioni */

.title-4 {
   bottom: 130px;
   right: 360px;
}
/* Hover states */
.item:hover {
   z-index: 1;
   filter: brightness(100%);
   transform: scale(1.03);
   transition: all 200ms;
}
.pizza-item-1:hover .title-1,
.pizza-item-2:hover .title-2,
.pizza-item-3:hover .title-3,
.pizza-item-4:hover .title-4 {
   visibility: visible;
}
